# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
__pypackages__/

# Build outputs
out/
dist/
dist-ssr/
build/
target/
.eggs/
.eggs/
*.egg-info/
*.egg
sdist/
develop-eggs/
downloads/
lib/
lib64/
parts/
var/
wheels/
share/python-wheels/
.pybuilder/
.Python
*.manifest
*.spec
cython_debug/

# Environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pdm.toml
.pdm-python
.pdm-build/

# Local configuration
*.local
.local_settings.py
.pypirc
.python-version

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Jupyter Notebook
.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Django / Flask
*.log
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Scrapy
.scrapy/

# Sphinx
docs/_build/

# PyInstaller
*.manifest
*.spec

# PyCharm
# See JetBrains.gitignore for full rules
# .idea/

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject/

# mkdocs
/site/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pytype
.pytype/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# C extensions
*.so

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ruff
.ruff_cache/

# Abstra
.abstra/

# Cursor
.cursorignore
.cursorindexingignore
